.experienceDesignX {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  height: 185px;
  flex-shrink: 0;
}
.midjourneyAi,
.thisPortfolioConsists {
  font-family: var(--font-inter);
  color: var(--color-darkgray);
}
.midjourneyAi {
  color: var(--color-mediumblue);
}
.blankLine,
.blankLine1,
.blankLine2,
.blankLine3,
.generativeAiCan,
.midjourneyIsA,
.thisPortfolioConsistsOfVis,
.thisWorkIs {
  margin: 0;
}
.thisPortfolioConsistsContainer {
  position: relative;
  font-size: var(--font-size-3xs);
  text-align: justify;
  display: inline-block;
  width: 238px;
  height: 160px;
  flex-shrink: 0;
  padding-right: var(--padding-xl);
  color: var(--color-darkgray);
}
.fRAME {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-34xl);
}
.eec5515243e7439e9fa145934dIcon {
  position: relative;
  border-radius: var(--br-67xl);
  width: 171px;
  height: 172px;
  object-fit: cover;
}
.frameA,
.frameB {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameB {
  align-self: stretch;
  gap: var(--gap-120xl);
}
.frameA {
  width: 248px;
  padding: var(--padding-17xl) 0 0;
  box-sizing: border-box;
  min-width: 248px;
}
.image113 {
  position: absolute;
  margin: 0 !important;
  top: 370px;
  right: 60px;
  bottom: 199px;
  width: 285px;
  height: 265px;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.image122 {
  position: absolute;
  margin: 0 !important;
  right: 400px;
  top: 370px;
  bottom: 199px;
  width: 285px;
  height: 265px;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.image123 {
  position: absolute;
  margin: 0 !important;
  right: 400px;
  top: 660px;
  bottom: 199px;
  width: 285px;
  height: 265px;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}

.image124 {
  position: absolute;
  margin: 0 !important;
  right: 59px;
  top: 660px;
  bottom: 199px;
  width: 285px;
  height: 265px;
  object-fit: cover;
  cursor: pointer;
  z-index: 1;
}
.macbookAir1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1000px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 0 var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-mediumblue);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1225px) {
  .frameA {
    flex: 1;
  }
  .macbookAir1 {
    flex-wrap: wrap;
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .experienceDesignX {
    font-size: var(--font-size-13xl);
  }
}
@media screen and (max-width: 450px) {
  .experienceDesignX {
    font-size: var(--font-size-5xl);
  }
}
