.experienceDesignX {
  margin: 0;
  position: relative;
  font-size: inherit;
  letter-spacing: -0.01em;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 248px;
  height: 185px;
  flex-shrink: 0;
  cursor: pointer;
}
.frameGroup {
  width: 353px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  font-size: var(--font-size-21xl);
  color: var(--color-mediumblue);
}
.pB1Icon,
.pB3Icon {
  position: relative;
  border-radius: var(--br-136xl-5);
  width: 103px;
  height: 103px;
  object-fit: cover;
}
.pB3Icon {
  border-radius: var(--br-89xl-5);
  height: 102px;
}
.pB3Wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
}
.persona {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.youngPersonIn {
  position: relative;
  font-size: var(--font-size-3xs);
  display: inline-block;
  color: var(--color-mediumblue);
  text-align: justify;
  width: 103px;
}
.frameBikerStyle {
  align-self: stretch;
  gap: var(--gap-5xs);
}
.frameBikerStyle,
.frameGroup1,
.pbRectangle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.pbRectangle {
  align-self: stretch;
  gap: var(--gap-16xl);
}
.frameGroup1 {
  width: 109px;
  padding: var(--padding-7xl) 0 0;
  box-sizing: border-box;
}
.grunstreifen12Icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 377px;
  flex-shrink: 0;
  object-fit: cover;
}
.problem,
.solution {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  width: 109px;
  flex-shrink: 0;
}
.problemParent {
  width: 458px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frameGroup2 {
  align-self: stretch;
  flex-direction: column;
  gap: var(--gap-22xl);
}
.containerFRAME,
.frameGroup2,
.frameProblemSolution,
.innerFRAME {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.frameProblemSolution {
  width: 610px;
  flex-direction: column;
  padding: var(--padding-7xl) 0 0;
  box-sizing: border-box;
}
.containerFRAME,
.innerFRAME {
  flex-direction: row;
}
.innerFRAME {
  gap: var(--gap-40xl);
}
.containerFRAME {
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1225px) {
  .innerFRAME {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .experienceDesignX {
    font-size: var(--font-size-13xl);
  }
  .frameGroup2 {
    gap: var(--gap-xl);
  }
  .innerFRAME {
    gap: var(--gap-10xl);
  }
}
@media screen and (max-width: 450px) {
  .experienceDesignX {
    font-size: var(--font-size-5xl);
  }
  .problemParent {
    flex-wrap: wrap;
  }
}
